div{
    border: 1px solid silver;
    min-height: 100px;
    display:inline-block;
    width:49%;
    text-align:center;
}
h1{
    font-weight:bold;
    font-style:italic;
    color:aqua;
}
.blue{
    font-style:oblique;
    color:blue;
}
#red{
    color:red;
}